<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <link rel="stylesheet" href="style/style.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    
    
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
    crossorigin="anonymous">

    
    <title>Motivation letter editor in vuejs</title>
</head>
<body>
    <div class="container-fluid pb-4">
        <div class="row">
            <div class="header col-lg-12 shadow p-2" style="background : #00bfa5;">
                <h1 class="lead display-5 text-center text-light">Motivation letter editor in vuejs</h1>
            </div>
        </div>
    </div>
            
    <div id="app">
        <div class="container">
            <div class="form-check float-right shadow rounded px-2">
                <label style="font-size: 0.5em;">hidden form</label>
                <input type="checkbox" id="checkbox" v-model="show" title="hidden form">
            </div>
            <form id="editor" v-if="show" class="text-default">
                <div class="form-group row">
                    <input type="text" class="form-control shadow" id="titre" v-model="title">
                </div>
                <div class="form-group row">
                    <textarea  class="form-control col-sm-6 shadow" v-model="yourAdress" style="resize: none;"></textarea>
                    <textarea  class="form-control col-sm-6 shadow text-right" v-model="theirAdress" style="resize: none;"></textarea>
                </div>
                <div class="form-group row">
                    <input type="text" class="form-control shadow" id="object" v-model="obj">
                </div>
                <div class="form-group row">
                    <par-item class="form-control my-2 shadow" v-for="(paragraph) in paragraphs" :paragraph="paragraph" :key="paragraph.p" v-model="paragraph.text" style="resize: none;">
                    </par-item>
                </div>
                
                <div id="buttons" class="row">
                    <a class="btn text-light rounded-circle m-auto" :title="addTitle" @click="addPar" style="background: #304ffe">
                        <i id="plus" class="fas fa-plus" :title="addTitle"></i>
                    </a>
                    <a class="btn text-light rounded-circle m-auto" :title="deleteTitle" @click="deletePar" style="background: #c51162">
                        <i id="minus" class="fas fa-minus"></i>
                    </a>
                </div>
                <div class="dropdown-divider mt-5"></div>
            </form>
            <div class="rendered">
                <h3 class="lead display-4 p-2 text-center">{{title}}</h3>
                <div class="row">
                    <p  class="lead p-3 text-left col-sm-6">{{yourAdress}}</p>
                    <p  class="lead p-3 text-right col-sm-6">{{theirAdress}}</p>
                </div>
                <p  class="py-2 lead display-5">{{obj}}</p>
                <p  class="py-2 lead display-5" v-for="(paragraph) in paragraphs">{{paragraph.text}}</p>
            </div>
        </div>
    </div>

    <div class="footer container-fluid">
            <p class="text-center text-light p-2 m-auto">Realised in VUEJS by Maxime Martin</p>
    </div>
            
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
    <script src="js/vue.js"></script>
</body>
</html>